.sidebar-icon {
    width: 20px;
    height: 20px;
}

.sidebar-text {
    font-weight: bold;
}

.sidebar-button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding: 0px 10px 0px 10px;
    color: var(--onBackground);
    fill: var(--onBackground);
}

.sidebar-button.active {
    border-radius: 10px;
    background-image: linear-gradient(
        to right,
        var(--primary),
        var(--primary)
    );
    color: var(--onPrimary);
    fill: var(--onPrimary);
}

.sidebar-button:hover{
    color: var(--primary);
    fill: var(--primary);
}

.sidebar-button.active:hover{
    color: var(--onPrimary);
    fill: var(--onPrimary);
}